html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif !important;
}

/* Overrides to fullcalendar default CSS for demo purposes */
.fc {
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif !important;
	margin: 0;
	padding: 1.5rem;

	.fc-list-event-dot {
		display: none !important;
	}

	.fc-button-primary {
		background: none !important;
		border: none !important;
		border-radius: 0 !important;
		color: #33475b !important;
		text-transform: capitalize !important;

		&:focus,
		&:hover {
			box-shadow: none !important;
			outline: none !important;
		}
	}

	.fc-dayGridMonth-button,
	.fc-timeGridWeek-button,
	.fc-timeGridDay-button,
	.fc-listWeek-button,
	.fc-resourceTimelineDay-button,
	.fc-resourceTimelineWeek-button,
	.fc-resourceTimelineMonth-button {
		border: none !important;
		border-bottom: 2px solid rgba(0,0,0,.06) !important;
	}

	.fc-button-active {
		border: none !important;
		border-bottom: 2px solid #0e92a1 !important;
		color: #0e92a1 !important;
		font-weight: 600 !important;
	}

	.fc-daygrid-day.fc-day-today,
	.fc-timegrid-col.fc-day-today {
		background: none !important;
	}

	.fc-daygrid-day.fc-day-other {
		background: #f8f9fa !important;
	}

	.fc-daygrid-day.fc-day-sat,
	.fc-daygrid-day.fc-day-sun,
	.fc-timegrid-col.fc-day-sat,
	.fc-timegrid-col.fc-day-sun {
		background: #f2f4f6 !important;
	}

	.fc-prev-button,
	.fc-next-button {
		color: #0e92a1 !important;
	}

	.fc-timegrid-event-harness-inset .fc-timegrid-event {
		box-shadow: none;
	}

	.fc-timegrid-slot-minor {
		border-top-style: none !important;
	}

	/* Custom CSS for event types */
	.cor,
	.cos,
	.euco,
	.external,
	.gro {
		border: 0;
		border-radius: 0;
		padding: 5px;

		div {
			color: #33475b;

			&.fc-daygrid-event-dot {
				display: none;
			}
		}
	}

	.cor {
		background-color: #ebf6ff;
		border-left: 4px solid #c0e3fd; 
	}

	.cos {
		background-color: #f0ffd3;
		border-left: 4px solid #cbe896;
	}

	.euco {
		background-color: #ffebe4;
		border-left: 4px solid #e7ad99;
	}

	.external {
		background-color: #f5f5f5;
		border-left: 4px solid #9aa5b5;
	}

	.gro {
		background-color: #fff5d1;
		border-left: 4px solid #f6e299;
	}
}

.mat-accordion {
	.mat-expansion-panel {
		box-shadow: none;
		border-radius: 0 !important;

		.mat-expansion-panel-header,
		.mat-expansion-panel-body {
			padding: 0 1rem;
		}

		.mat-expansion-panel-header {
			h2 {
				font-family: 'Open Sans', sans-serif !important;
				font-size: 1rem;
				font-weight: 600;
				margin: 1rem 0;
			}
		}

		.mat-list {
			margin-bottom: 1rem;
			padding: 0;

			.mat-list-item {
				height: auto;

				.mat-list-item-content {
					padding: 5px 0 !important;

					.mat-checkbox-layout .mat-checkbox-label {
						font-family: 'Open Sans', sans-serif !important;
					}
				}
			}
		}
	}

	.mat-expansion-panel-spacing {
		margin: 0;
	}
}

.filters {
	align-self: flex-end;
	text-align: center;
	width: 60px;

	.mat-accordion {
		.mat-expansion-panel {
			.mat-expansion-panel-header,
			.mat-expansion-panel-body {
				padding: 0 !important;
			}

			.mat-expansion-panel-header-title,
			.mat-list-item-content {
				justify-content: center;
				margin: 0 auto;
			}
		}
	}
}

.mat-checkbox-checked.mat-accent {
	&.cor {
	  	.mat-checkbox-background {
			background-color: #c0e3fd;
	  	}
	}

	&.cos {
	  	.mat-checkbox-background {
			background-color: #cbe896;
	  	}
	}

	&.euco {
		.mat-checkbox-background {
			background-color: #e7ad99;
		}
  	}

	&.external {
		.mat-checkbox-background {
			background-color: #9aa5b5;
		}
	}

	&.gro {
		.mat-checkbox-background {
			background-color: #f6e299;
		}
  	}
}

fa-icon {
	color: #627386;
}
