$drawer-width: 270px;
$drawer-mini-width: 60px;
$drawer-padding: 0;

.calendar-container {
  box-shadow: -2px -2px 4px hsla(0,0%,50.2%,.1), 2px 2px 4px hsla(0,0%,50.2%,.1);
  margin: 2rem;
  z-index: 0;

  &__drawer {
    display: flex;
    flex-direction: column;
    max-width: $drawer-width;
    padding: $drawer-padding;
    width: $drawer-width;

    button {
        align-self: flex-end;
        color: #0e92a1;
        font-family: 'Open Sans', sans-serif !important;
        font-weight: 600 !important;
        margin: 5px 0;
        min-width: 60px;
    }

    /* ul {
      list-style: none;
      padding: 0;
    } */
  }
}

.mat-drawer {
  transform: translate3d(calc(#{$drawer-mini-width} - #{$drawer-width}), 0, 0);
  visibility: visible !important;
}

.mat-drawer-content {
    &--closed {
        margin-left: calc(#{$drawer-mini-width});
    }
}

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:host ::ng-deep .mat-tab-labels {
  flex-direction: column;
}

:host ::ng-deep .mat-tab-header {
  border-bottom: none;
  border-right: 1px solid rgba(0,0,0,.12);
}

mat-tab-group {
  background-color: #ffffff;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .mat-tab-label {
  min-width: auto;
  opacity: 1;
  width: 70px;

  fa-icon {
    font-size: 1.5rem;
  }
}

:host ::ng-deep .mat-tab-label-active {
  border-left: 4px solid #5691f0;

  fa-icon {
    color: #5691f0;
    margin-left: -4px;
  }
}

:host ::ng-deep .mat-ink-bar {
  display: none;
}
