$drawer-width: 270px;
$drawer-mini-width: 40px;
$drawer-padding: 1rem;

.calendar-container {
  padding: 2rem;
  &__drawer {
    display: flex;
    flex-direction: column;
    max-width: $drawer-width;
    padding: $drawer-padding;
    width: $drawer-width;
    button {
        align-self: flex-end;
        margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding: 0;
    }
  }
}

.mat-drawer {
  transform: translate3d(calc(#{$drawer-mini-width} - #{$drawer-width}), 0, 0);
  visibility: visible !important;
}
.mat-drawer-content{
    &--closed{
        margin-left: calc(#{$drawer-mini-width} + #{$drawer-padding} + #{$drawer-padding});
    }
}